{% extends "billboard/base.html" %}

{% block title %}{{ block.super }} | {{ ad.name }}{% endblock %}

{% block content %}

{{ block.super }}

<ul id="breadcrumbs" class="clearfix">
    <li><a href="{% url billboard-index %}">Index</a></li>
    <li>&gt;</li>
    <li>{{ ad.name }}</li>
</ul>

<h2>{{ ad.name }}</h2>
{% if ad.description %}
    <p>{{ ad.description }}</p>
{% endif %}

{% comment %}
<pre>{{ ad.get_properties }}</pre>
{% endcomment %}

<table class="zebra">
    {% for set, properties in ad.get_properties %}
        <tr class="even">
            <th colspan="2">{{ set }}</th>
        </tr>
        {% for property_id, property_name, property_value in properties %}
            {# <tr class="{% cycle 'odd' 'even' %}"> #}
            <tr>
                <th class="align-left">{{ property_name }}</th>
                <td>{{ property_value }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<h3>Reviews</h3>
<p>...</p>

<h3>Comments</h3>
<p>...</p>

{% endblock %}