{% extends "billboard/base.html" %}

{% block title %}{{ block.super }} | {{ category.name }}{% endblock %}

{% block content %}

{{ block.super }}

<ul id="breadcrumbs" class="clearfix">
    <li><a href="{% url billboard-index %}">Index</a></li>
    <li>&gt;</li>
    {% for topcategory in category.get_ancestors %}
        <li><a href="{% url billboard-category topcategory.id %}">{{ topcategory.name }}</a></li>
        <li>&gt;</li>
    {% endfor %}
    <li>{{ category.name }}</li>
</ul>

<h2>{{ category.name }}</h2>
{% if category.description %}
    <p>{{ category.description }}</p>
{% endif %}

{% if subcategories %}
    <h3>Subcategories</h3>
    <ul>
        {% for subcategory in subcategories %}
            <li><a href="{% url billboard-category subcategory.id %}">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if properties %}
    <form action="" method="get">
        <table>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>
                        <select name="p">
                            <option value="0">Any</option>
                            <option value="" disabled="disabled">——————————</option>
                            {% for value in property.get_values %}
                                <option value="{{ property.id }}_{{ value.id }}">{{ value.get_value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p><input type="submit" value="Filter Results" /></p>
    </form>
{% endif %}

<hr />

{% if ads.count %}
    {% for ad in ads.object_list %}
        <div class="ad">
            <h3><a href="{% url billboard-ad ad.id %}">{{ ad.name }}</a></h3>
            <p>{{ ad.description|truncatewords:50 }}</p>
        </div>
    {% endfor %}
    <hr />
    <p>Found {{ ads.count }} result{{ ads.count|pluralize }}</p>
    <ul class="pagination">
        {% for page in ads.page_range %}
            {% ifequal page ads.current_page %}
                <li class="current">{{ page }}</li>
            {% else %}
                <li><a href="{% url billboard-category category.id page %}">{{ page }}</a></li>
            {% endifequal %}
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}

{% endblock %}