{% extends "billboard/base.html" %}

{% block title %}{{ block.super }} | {{ category.name }}{% endblock %}

{% block content %}

{{ block.super }}

<ul id="breadcrumbs">
    <li><a href="{% url billboard-index %}">Index</a></li>
    {% for topcategory in category.get_ancestors %}
        <li><a href="{% url billboard-category topcategory.pk %}">{{ topcategory.name }}</a></li>
    {% endfor %}
    <li>{{ category.name }}</li>
</ul>

<h2>{{ category.name }}</h2>
{% if category.description %}
    <p>{{ category.description }}</p>
{% endif %}

{% if subcategories %}
    <h3>Subcategories</h3>
    <ul>
        {% for subcategory in subcategories %}
            <li><a href="{% url billboard-category subcategory.pk %}">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if properties %}
    <table>
        {% for property in properties %}
            <tr>
                <td>{{ property.name }}</td>
                <td>
                    <select name="property[{{ property.pk }}]">
                        <option value="0">Any</option>
                        <option value="" disabled="disabled">——————————</option>
                        {% for value in property.get_values %}
                            <option value="{{ value.pk }}">{{ value.get_value }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% for ad in ads %}
    <h4><a href="{% url billboard-ad ad.pk %}">{{ ad.name }}</a></h4>
{% empty %}
    <p>No results found.</p>
{% endfor %}

{% endblock %}