{% extends "billboard/base.html" %}

{% block content %}

{{ block.super }}

<ul id="breadcrumbs" class="clearfix">
    <li>Index</li>
</ul>

<h2>Categories</h2>
{% load mptt_tags %}
{% for category, structure in categories|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
    <a href="{% url billboard-category category.id %}">{{ category.name }}</a> ({{ category.ads_count }})
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}


{% endblock %}